.container{
    width: 32.5rem;
}
.todo-circle{
    align-items: center;
    background-color: white;
    border: 1px solid $veryLightGrayishBlue;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    margin: 1.4rem;
    width: 1.5rem;
    transition: .3s ease all;

    body.dark &{
        border: 1px solid $veryDarkGrayishBlue;
        background-color: $veryDarkDesaturatedBlue;
   
        svg path{
            transition: .3s ease all;
            stroke: $veryDarkDesaturatedBlue;
        }
    }


    
}

.todo-circle-active{
    align-items: center;
    border: 1px solid $lightGrayishBlue;
    background: $gradientBlue;
    border-radius: 100%;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    margin: 1rem;   
    width: 1.5rem;
    
}

.todo-input-content{
    align-items: center;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 2px;  
    transition: 400ms;
    width: 32.5rem;
    margin-bottom: 1.5rem;
    transition: .3s ease all;

    body.dark &{
        background-color: $veryDarkDesaturatedBlue;
    }

}

.todo-input{
    color: #07423C; 
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 2.9rem;
    appearance: none;
    border-radius: 5px;
    font-family:$josefin;
    caret-color: $brightBlue;
    font-size: 1.5rem;
    transition: .3s ease all;

    body.dark &{
        background-color: $veryDarkDesaturatedBlue;
    }

    &:focus{
        background-color: white;
        font-family:$josefin;
        font-weight: 400;
        
    }
}

.todo-list{
    border-radius: 5px;
    max-height: 24.5rem;
    height: 24.5rem;
    width: 32.5rem;
    overflow: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s ease all;

    body.dark &{
        background-color: $veryDarkDesaturatedBlue;
    }
}

.todo-form{
    width: 100%;

}
.todo-item{
    color: #07423C; 
    border-bottom: 1px solid $lightGrayishBlue;
    background-color: white;
    outline: none;
    width: 100%;
    height: 3rem;
    appearance: none;
    border-radius: 5px;
    font-family:$josefin;
    caret-color: $brightBlue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: .3s ease all;

    body.dark &{
        background-color: $veryDarkDesaturatedBlue;
        color: $darklightGrayishBlue;
        border-bottom: 1px solid $veryDarkGrayishBlue;
    }
}

.underlined{
    text-decoration: line-through;
    color: $darkGrayishBlue;
}

.todo-cross{
    margin: 1rem;
    display: none;
}

.todo-cross-active{
    margin: 1rem;
    display: block;
    cursor: pointer;
}

.todo-text{
    cursor: pointer;
}

.todo-bar{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 32.5rem;
    transition: .3s ease all;

    body.dark &{
        background-color: $veryDarkDesaturatedBlue;
    }
    

    p{
        color: $darkGrayishBlue;
        cursor: pointer;
        font-size: 15px;
        flex: 1 1 auto;
        text-align: center;

        &:hover{
            color: $veryDarkGrayishBlue;
        }
    }
}

.todo-clear{
    text-align: end;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    //background-image: url(../assets/bg-desktop-light.jpg);
    background-image: url("./assets/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    transition: .3s ease all;
    min-width: 400px;
    body.dark &{
        background-image: url("./assets/bg-desktop-dark.jpg");
    }
}

.todo-title{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    letter-spacing: 15px;

}

.p-active{
    color: $brightBlue !important;
}

@media screen and (max-width:1500px){

    .main{
        background-size: 130%;
    }
}

@media screen and (max-width:1000px){

    .main{
        background-size: 150%;
    }
}

@media screen and (max-width:800px){

    .main{
        background-size: 200%;
    }
}

@media screen and (max-width:700px){

    .main{
        background-image: url("./assets/bg-mobile-light.jpg");
        background-size: 100%;
        width: 100%;

        body.dark &{
            background-image: url("./assets/bg-mobile-dark.jpg");
        }
    }
}

@media screen and (max-width:550px){

    .main{
        background-size: 150%;
  
    }

    .flex-row-sp{
        width: 90%;
    }

    .todo-input-content{
        width: 90%;
    }

    .todo-list{
        width: 90%;
    }

    .todo-bar{
        width: 90%;
    }
}